<main class="container">
<h1>Todos</h1>

<ul>
<% @todos.each do |todo| %>
    <li>
        <%= link_to todo.title, todo %>
        <% if todo.completed %>
            <span style="height: 24px; width: 24px;">&#9989;</span>
        <% else %>
            <span style="height: 24px; width: 24px;">&#10006;</span>
        <% end %>
    </li>
    <% end %>
</ul>

<%= link_to "Create New Todo", new_todo_path %>